[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = {version = "==2.15.0", markers = "sys_platform != 'darwin'"}
tensorflow-macos = {version = "==2.15.0", markers = "sys_platform == 'darwin'"}

numpy = "*"
requests = "*"
python-dotenv = "*"
pillow = "*"
pymongo = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
black = "*"
tomli = "*"
typing_extensions = "*"

[requires]
python_version = "3.10"
